<!-- Autenticación mientras cl@ve no funciona correctamente en producción -->
<!-- Eliminar al poner en producción -->
<!-- Gracias cl@ve -->
<div *ngIf="(status.is$('INIT', 'ERROR') | async) && !fakeLogin && !gcForm" class="text-center">
  <tsw-raised-button
    color="primary"
    text="generic.actions.login"
    loadingText="generic.actions.loggingIn"
    errorText="text.err.loginFailed"
    (click)="requestLogin()"
  ></tsw-raised-button>

  <tsw-raised-button
    *ngIf="isDevEnvironment"
    text="Forzar autenticación"
    class="ml-2"
    id="autentication"
    (click)="fakeLogin = true"
  ></tsw-raised-button>
</div>

<div
  *ngIf="fakeLogin && isDevEnvironment"
  class="flex flex-col justify-center items-center"
>
  <mat-form-field>
    <mat-label>NIF</mat-label>
    <input #nif matInput type="text" id="login_nif" required>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input #pass matInput type="password" id="login_pass"required>
  </mat-form-field>

  <div class="text-center">
    <tsw-stroked-button
      text="Cancelar"
      (click)="fakeLogin = false"
    ></tsw-stroked-button>

    <tsw-raised-button
      text="Acceder"
      color="primary"
      class="ml-2"
      id="login_acceder"
      (click)="doFakeLogin(nif.value, pass.value)"
    ></tsw-raised-button>
  </div>
</div>
<!-- / Gracias cl@ve -->

<!-- Habilitar cuando cl@ve funcione 100% seguro -->
<!-- <div class="text-center">
  <tsw-raised-button
    color="primary"
    text="generic.actions.login"
    loadingText="generic.actions.loggingIn"
    errorText="text.err.loginFailed"
    (click)="requestLogin()"
  ></tsw-raised-button>
</div> -->

<tsw-hidden-form
  *ngIf="authForm"
  [data]="authForm"
  [autoSubmitAfter]="2000"
></tsw-hidden-form>

