<form [formGroup]="form" (ngSubmit)="search()">

    <div class="grid grid-cols-4 grid-rows-2 gap-1.5">
        <mat-form-field>
            <mat-label>RGSE-NUE</mat-label>
            <tsw-search-input formControlName="numBusiness"></tsw-search-input>
        </mat-form-field>

        <mat-form-field>
            <mat-label>KEY</mat-label>
            <tsw-search-input  formControlName="key"></tsw-search-input>
        </mat-form-field>

        <mat-form-field>
            <mat-label>NUMERO EMPRESA</mat-label>
            <tsw-search-input formControlName="numberIndustry"></tsw-search-input>
        </mat-form-field>

        <mat-form-field>
            <mat-label>MATRICULA</mat-label>
            <tsw-search-input formControlName="enrollment"></tsw-search-input>
        </mat-form-field>
    </div>

    <tsw-filters-container-actions (resetEv)="clear()">
        <tsw-filter-hidden formControlName="state"></tsw-filter-hidden>
    </tsw-filters-container-actions>
</form>
