<tsw-breadcrumbs></tsw-breadcrumbs>

<div class="w-full mx-auto" style="height: 6vh; position: relative;">
    <div class="absolute left-0 ml-auto ml-6 mt-2 ">
        <h1 class="text-3xl">DENOMINACION DE VENTA</h1>
    </div>
    <div class="absolute right-0 mr-auto mr-6 mt-2">
        <button mat-flat-button color="primary" [routerLink]="'denominationAdminEdit' | namedRoute: { id: 0 }"
        >Alta</button>
    </div>
</div>
<tsw-filters-container class="pt-3">
    <tsw-user-list-page-filter *tswCustomFilter="'advanced'"></tsw-user-list-page-filter>
</tsw-filters-container>

<tsw-table-container
    class="pt-3"
    [loading]="loading"
    [paginator]="paginator"
    [columns]="columns"
    (reload)="reloadData()"
    (page)="navigatePage($event)"
>
    <table
        tsw-table
        [dataSource]="source"
        matSort
        (matSortChange)="sortData($event)"
    >
        <tr mat-header-row *matHeaderRowDef="(columns.columns | async) ?? []"></tr>
        <tr mat-row *matRowDef="let row; columns: (columns.columns | async) ?? []"></tr>

        <tr
            *matNoDataRow
            tsw-table-empty-row
            [loading]="loading"
            [columns]="columns"
        ></tr>

        <ng-container matColumnDef="select" [sticky]="true">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="selectAll($event)"
                    [checked]="
            selection.hasValue() &&
            source.data.length === selection.selected.length
          "
                    [indeterminate]="
            selection.hasValue() &&
            source.data.length !== selection.selected.length
          "
                ></mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox
                    (click)="$event.stopPropagation()"
                    (change)="select($event, row)"
                    [checked]="selection.isSelected(row)"
                ></mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="id">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                Id
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.id }}</td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                {{ "fields.name" | translate }}
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="idKey">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                CLAVE
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.idKey }}</td>
        </ng-container>

        <ng-container matColumnDef="fileType">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                TIPO
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.fileType }}</td>
        </ng-container>

        <ng-container matColumnDef="isPublic">
            <th *matHeaderCellDef mat-header-cell mat-sort-header>
                PUBLICA
            </th>
            <td *matCellDef="let element" mat-cell>{{ element.isPublic === 1 ? 'Si' : 'No'}}</td>
        </ng-container>

        <ng-container
            matColumnDef="actions"
            [stickyEnd]="true"
        >
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell class="text-right">
                <ng-container>
                    <div class="additional-actions">
                        <a
                            mat-button
                            [routerLink]="'denominationAdminEdit' | namedRoute: { id: element.id }"
                        >
                            <mat-icon>edit</mat-icon>
                        </a>
                    </div>
                    <tsw-state-toggle
                        [data]="element"
                        [resource]="resourceName"
                    ></tsw-state-toggle>
                </ng-container>
            </td>
        </ng-container>


    </table>
</tsw-table-container>
